*{

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

    /*starting of  section-1 */

.topbar{ display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    height: 70px;
    width: 100%;
    z-index: 1;}



.nav{display: flex;
        justify-content: center;
        list-style: none;}




a
{font-weight: bold;
  margin: 15px;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;}

  a:hover{

    color:darkred;
}

  #sky{
      float: left;
  }

  #house{
      float: right;
  }

  .wide1{
      float: right;
    }

    .intro{
        color: white;
        font-weight: bold;
        font-size: 39px; 
    }


span{
    position:absolute;
        right: 531px;
        bottom: 320px;
}

section{
     width: 100%;
       display: table;
         margin: 0; 
          max-width: 100%; }
                 /* animation part */
.scroll-down{
    height: 50px;
    width: 30px;
    border: 2px black solid;
    position: absolute;
    left: 50%;
    bottom: 30px;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{

    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border:2px black solid;
    height: 10px;
    width: 10px;
    transform: translate(-50% -50%); rotate: (45 deg);}


    #sec-1{
        min-height: 100vh;
        background-image: url(pexels-anete-lusina-6331043.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        position: relative;}


    #sec-2{min-height: 100vh;}