*{

    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html{scroll-behavior: smooth;}

    /*starting of  section-1 */

.topbar{ display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    height: 70px;
    width: 100%;
    z-index: 1;}



.nav{display: flex;
        justify-content: center;
        list-style: none;}




a
{font-weight: bold;
  margin: 15px;
  color: #ddd;
  text-decoration: none;
  text-transform: uppercase;}

  a:hover{

    color:darkred;
}

  #sky{
      float: left;
  }

  #house{
      float: right;
  }

  .wide1{
      float: right;
    }
                 /* explore yourself  wala is under span tag so i needed to use it in css also */
    .intro{
        color: white;
        font-weight: bold;
        font-size: 39px; 
    }


span{
    position:absolute;
        right: 508px;
        bottom: 250px;
}

section{
     width: 100%;
       display: table;
         margin: 0; 
          max-width: 100%;
            padding:0.2%;
             }
                 /* animation part */
.scroll-down{
    height: 110px;
    width: 80px;
    border: 2px black solid;
    position: absolute;
    left: 48%;
    bottom: 11%;
    border-radius: 50px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{

    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    border:2px black solid;
    height: 15px;
    width: 15px;
    transform: translate(-50%,-100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}


.scroll-down::after{
    top: 30%;
    animation-delay: .3s;
}


@keyframes scroll-down{
    0%{
        opacity: 0;
    }

    30%{
        opacity: 1;
    }

    60%{
        opacity: 1;
    }
 
    100%{
         opacity: 0;
         top: 90%;
    }
     
}


                            /* section-2 */
   
   



   h1{
       font-size: 39px;
       font-weight: bold;
       text-align: center;
        position: relative;
       
   }
   
   
   #rows-1{
       float: left;
       border:groove 2px black;
       border-radius: 20px;
       height: 25%;
       width: 25%; 
       position: relative;
       }
   

   #rows-2{
       float: right;
       border:groove 2px black;
       border-radius: 20px;
       position: absolute;
       left: 989px;
       height: 550px;
       width: 27%;
       bottom: 1388px;
   }
   
   #rows-3{
       float: left;
       border:groove 2px black;
       border-radius: 20px;
       position: absolute;
       height: 550px;
       width: 27%;
       bottom: 769px;
   }
   
   #rows-4{
       float: right;
       border:groove 2px black;
       border-radius: 20px;
       position: absolute;
       height: 550px;
       width: 27%;
       left: 989px;
       bottom: 127px;
   }
   
   
   
   
   
   
   
   
   
   
   
 
   #sec-1{
    min-height: 100vh;
    background-image: url(walpaper.jpg);
    background-size:100% ,95%;
    background-repeat: no-repeat;
    position: relative;}


#sec-2{min-height: 400vh;
    background-image: url(stars.png);
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;}

   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   